In [1]:
import seaborn as sns
fmri=sns.load_dataset("fmri")
df=fmri.copy()
df.head()

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064 entries, 0 to 1063
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    1064 non-null   object
 1   timepoint  1064 non-null   int64
 2   event      1064 non-null   object
 3   region     1064 non-null   object
 4   signal     1064 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 41.7+ KB

In [3]:
df["timepoint"].describe()

count    1064.000000
mean        9.000000
std         5.479801
min         0.000000
25%         4.000000
50%         9.000000
75%        14.000000
max        18.000000
Name: timepoint, dtype: float64

In [4]:
df["signal"].describe()

count    1064.000000
mean        0.003540
std         0.093930
min        -0.255486
25%        -0.046070
50%        -0.013653
75%         0.024293
max         0.564985
Name: signal, dtype: float64

In [5]:
df.groupby("timepoint")["signal"].count()

timepoint
0     56
1     56
2     56
3     56
4     56
5     56
6     56
7     56
8     56
9     56
10    56
11    56
12    56
13    56
14    56
15    56
16    56
17    56
18    56
Name: signal, dtype: int64

In [9]:
df["signal"].unique()

array([-0.01755158, -0.08088293, -0.08103302, ..., -0.00493911,
       -0.02536671, -0.00689923])

In [10]:
df.groupby("timepoint")["signal"].describe()

           count      mean       std  ...       50%       75%       max
timepoint                             ...
0           56.0 -0.016662  0.028326  ... -0.018382  0.003539  0.074399
1           56.0 -0.025002  0.030641  ... -0.024533 -0.005388  0.063558
2           56.0 -0.012873  0.035440  ... -0.013183  0.009318  0.077277
3           56.0  0.034446  0.058260  ...  0.028430  0.061840  0.185581
4           56.0  0.098194  0.092838  ...  0.070166  0.144911  0.346775
5           56.0  0.137725  0.123353  ...  0.096535  0.211638  0.476055
6           56.0  0.127515  0.137332  ...  0.068850  0.218919  0.564985
7           56.0  0.075660  0.129704  ...  0.032486  0.144781  0.494787
8           56.0  0.013420  0.104216  ... -0.012834  0.030396  0.337143
9           56.0 -0.032041  0.072728  ... -0.038496  0.008717  0.221716
10          56.0 -0.053685  0.053148  ... -0.052906 -0.015302  0.089231
11          56.0 -0.058194  0.053828  ... -0.045699 -0.022522  0.030528
12          56.0 -0.052526  0.056991  ... -0.042294 -0.016239  0.055766
13          56.0 -0.043532  0.053598  ... -0.031612 -0.012958  0.059510
14          56.0 -0.033660  0.045983  ... -0.022165 -0.006797  0.050133
15          56.0 -0.025880  0.039092  ... -0.018207  0.000486  0.047102
16          56.0 -0.022414  0.035035  ... -0.020777 -0.001380  0.057105
17          56.0 -0.021368  0.034797  ... -0.017070 -0.000026  0.073757
18          56.0 -0.021867  0.036322  ... -0.020225 -0.002821  0.090520

[19 rows x 8 columns]